.dashboardPage {
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;

    .container {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 420px;

        @media screen and (max-width: 900px) {
            display: flex;
            flex-direction: column;
        }

        .formContainer {
            .subtitle {
                font-size: 1.3rem;
            }
            .form {
                margin: 10px;
                overflow: hidden;
                overflow-y: auto;
                max-height: calc(90vh - 70px);

                @media screen and (max-width: 900px) {
                    max-height: calc(90vh - 80px);
                }
                .fullField {
                    grid-column: 1/3;
                }

                .basicInformation {
                    display: grid;
                    gap: 15px;
                    grid-template-columns: 1fr 1fr;
                    margin: 1rem 0 2rem 0;

                    .userProfile {
                        grid-column: 1/3;
                        display: grid;
                        align-items: center;
                        justify-items: center;
                        gap: 10px;
                        grid-template-columns: 60px 1fr;

                        img {
                            width: 90%;
                            aspect-ratio: 1/1;
                            height: auto;
                            object-fit: cover;
                            border-radius: 50%;
                            border: 3px solid #333;
                        }
                    }
                }

                .socialNetworks {
                    .snsInput {
                        display: grid;
                        align-items: center;
                        justify-items: center;
                        gap: 5px;
                        grid-template-columns: 150px 1fr;
                        margin-bottom: 1rem;
                    }
                    .chips {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        flex-wrap: wrap;
                    }
                    .chipImg {
                        fill: var(--iconBg);
                    }
                }

                .educationContainer {
                    display: grid;
                    gap: 20px;

                    .items {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                    }

                    .educationInput {
                        display: grid;
                        gap: 10px;
                        grid-template-columns: 1fr 1fr;
                    }
                }

                .skillsContainer {
                    .skillInput {
                        display: grid;
                        gap: 10px;
                        grid-template-columns: 1fr 120px;
                    }
                    .skills {
                        margin-top: 20px;
                        margin-bottom: 10px;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 5px;
                    }
                }

                .workExperience {
                    display: grid;
                    gap: 20px;

                    .workExperienceInput {
                        display: grid;
                        gap: 10px;
                        grid-template-columns: 1fr 1fr;
                    }
                }

                .certificatesContainer {
                    .certificatesInput {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .titleAndDate {
                            display: grid;
                            gap: 10px;
                            grid-template-columns: 1fr 160px;
                        }
                    }

                    .certificates {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                        margin-top: 20px;
                        margin-bottom: 10px;
                    }
                }
                .projectsContainer {
                    .items {
                        margin-top: 20px;
                    }
                    .projectsInput {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                    }
                }
            }
            .buttons {
                display: grid;
                align-items: center;
                justify-items: center;
                width: 98%;
                gap: 10px;
                grid-template-columns: 1fr 1fr ;
            }
        }

        .previewContainer {
            height: 90vh;
            overflow: hidden;
            overflow-y: scroll;
            border-radius: 10px;

            @media screen and (max-width: 900px) {
                display: none;
            }
        }

        .previewContainer,
        .formContainer .form {
            &::-webkit-scrollbar {
                background: var(--scrollBg);
                width: 10px;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background: var(--scrollThumbBg);
                border-radius: 10px;
            }
        }
    }
}
