@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap"); */

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  /* font-size: 16px; */
}

/* VARIABLES CSS */
:root {
  /* Colors */
  --header-height: 3rem;
  --title-color: #333;
  --text-color: #424242;
  --text-color-light: #ddd;
  --container-color: #333;
  --container-color-alt: #333;
  --body-color: #fff;
  --page-color: #f3f3f6;
  --page-dark-light: #fafafa;
  --scrollBg: #a0a0a0;
  --scrollThumbBg: #5a5a5a;
  --iconBg: #3a3a3a;

  /* Font and Typography*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.3rem;
  --h3-font-size: 1.1rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /* Font Weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Margin */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;

  /* Z Index */
  --z-tooltip: 10;
  --z-fixed: 100;

  /* Filter */
  --img-filter: invert(0);
}

body {
  /* background-color: var(--body-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23000000' fill-opacity='0.05' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  transition: all 0.2s ease-in-out; */
}

html.dark {
  /* Colors */
  --header-height: 3rem;
  --title-color: #333;
  --text-color: #d6d6d6;
  --text-color-light: #ddd;
  --container-color: #333;
  --container-color-alt: #333;
  --body-color: #333;
  --page-color: #1a1a1a;
  --page-dark-light: #222222;
  --scrollBg: #474747;
  --scrollThumbBg: #1d1d1d;
  --iconBg: #f3f3f3;

  /* Font and Typography*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.3rem;
  --h3-font-size: 1.1rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /* Font Weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Margin */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;

  /* Z Index */
  --z-tooltip: 10;
  --z-fixed: 100;

  /* Filter */
  --img-filter: invert(1);
}

/* Base */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.spinner {
  /* position: fixed; */
  /* inset: 0; */
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.733);
  z-index: 99999;
}

.bwIcon {
  fill: var(--iconBg);
}

.landingContainer {
  background: #fff;
}
.landingContainer > * {
  color: #333;
}
.navbarContainer {
  width: 100%;
  position: fixed;
  z-index: 10;
  background: #fff;
  border-bottom: 1px solid #f3f3f3;
  box-shadow: 0 0 20px #33333334;
}
.navbar {
  color: #333;
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.heroSectionContainer {
  padding-top: 80px;
  padding-bottom: 100px;
}

.heroSection {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
  position: relative;
  min-height: 1200px;
  height: auto;
}

.detail {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail h1 {
  margin: 50px auto 10px auto;
  font-size: 3.5rem;
  line-height: 4rem;
  text-align: center;
  max-width: 800px;
  width: 90%;
  color: #fff;
  text-shadow: #1a1a1a52 2px 2px 0;
}
.detail p {
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
  max-width: 800px;
  width: 90%;
  text-shadow: #1a1a1a52 2px 0 0;
}
.detail button {
  color: #fff;
  background: rgb(0, 0, 0);
  padding: 24px 48px;
  border-radius: 10px;
  margin: 20px 5px 60px 5px;
}
.heroSection .front__bg__image {
  position: absolute;
  inset: 0;
  z-index: 2;
}
.heroSection .bg__image {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  animation: expandInfinite 10s infinite ease-in-out;
  z-index: 1;
}

.slider {
  height: 350px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
}

.slider-items {
  display: flex;
  width: calc(350px * 12);
  animation: scrolling 20s linear infinite;
}

.slide {
  height: 350px;
  width: 350px;
  display: flex;
  align-items: center;
  position: relative;
}

.slide img {
  width: 90%;
  height: auto;
  position: absolute;
  top: 0;
}

.slide:nth-child(odd) img {
  top: 50px;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(350px * -4));
  }
}
